a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: var(--text-variant);
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    position: relative;
    top: -6px;
}

a:hover {
    background-color: var(--extra-light);
    border-radius: 0.2rem;
}
#about {
    padding: 0 2rem;
}
body {
    margin: 0;
    padding: 0;
}
button {
    text-decoration: none;
    color: var(--background);
    border: none;
    border-radius: 0.2rem;
    background-color: var(--accent);
    padding: 0.5rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all var(--tm-2) ease;
}
button:hover {
    background-color: var(--accent-dark);
}
.card {
    border-radius: var(--sp-1);
    transition: all var(--tm-2) ease;
    margin: 0 0 2rem 0;
}
.card:hover {
    box-shadow: var(--ev-3);
    transform: scale(1.01);
}
.container {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container-hero-t {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
}
.centre-align {
    margin: 0 auto;
    max-width: 1024px;
}
.divider {
    border-top: 1px solid var(--text-variant);
}
.divider-container {
    max-width: 1024px;
    padding: 2rem;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-areas: 'image text';
    margin: 8rem 0;
}
#homepage {
    background-color: var(--p-light);
}
#hero-text {
    margin: 0px;
    padding: 2rem 0;
}

html {
    scroll-behavior: smooth;
}
#image-container {
    background-image: url("../images/about_illustration.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: image;
}
#logo-container img {
    margin: 0 2rem 0 0;
    height: 1.8rem;
    width: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    max-width: 1008px;
    margin: 0 auto;
}

#text-container {
    grid-area: text;
    padding: 0 4rem 4rem 4rem;
}
#work {
    padding: 0 2rem;
}
#w-text-container {
    padding: var(--sp-4);
}
#w-text-container button {
    margin: var(--sp-2) 0;
}

/* Page Dividers */

/* PAGE TOP */
.custom-shape-divider-top-1621582515 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1621582515 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 108px;
}

.custom-shape-divider-top-1621582515 .shape-fill {
    fill: var(--p-light);
}

/* PAGE BOTTOM */
.custom-shape-divider-bottom-1621582987 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1621582987 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1621582987 .shape-fill {
    fill: var(--primary);
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 'image' 'text';
        margin: 2rem 0;
    }
    #image-container {
        margin: 0  0 4rem 0;
        height: 30vh;
    }
    #text-container {
        padding: 2rem 0;
    }
    #work {
        padding: 0 2rem;
    }
    #work-h {
        margin: 4rem 0;
    }
    .container {
        padding: 2rem;
    }
    .divider-container {
        padding: 0 2rem;
    }
    .custom-shape-divider-top-1621582515 svg {
        height: 96px;
    }
    .custom-shape-divider-bottom-1621582987 svg {
        height: 64px;
    }
}
@media screen and (max-width: 506px) {
    a {
        display: none;
    }
    .footer-container {
        margin: 0 2rem;
    }
    .container {
        display: block;
    }
    .custom-shape-divider-top-1621582515 svg {
        height: 64px;
    }
    .custom-shape-divider-bottom-1621582987 svg {
        height: 48px;
    }
}